@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap%27');

#container{
    display: flex;
    background-color: gray;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 50rem;
    margin: 0 2em 0 2em;
    font-family: 'Indie Flower', cursive;
    
}

#container h2{
    font-size: 40px;
    font-weight: bold;
}

#container span{
    font-size: 25px;
    margin-top: 15px;
}

.post-it{
    display: flex;
    width: 24em;
    height: 16em;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    margin:0 auto;
    margin-top:2em;  
    flex-direction: column;  
    box-shadow: 6px 12px 17px -4px #000000;
    background: radial-gradient();


}

.post-it:hover{
    transform: scale(1.5);
}

.giallo{
    background-color: rgb(219, 219, 132);
    transform: rotate(355deg);
}


.verde{
    background-color:rgb(1, 92, 1);
    transform: rotate(8deg);
}

.viola{
    background-color:rgb(158, 7, 158);
    transform: rotate(351deg);
}
