.card{
    width: 350px;
    height: 800px;
    margin-bottom: 40px;
}
.card-body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

img{
    height: 35rem;
}