@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html,body{
    font-family: 'Roboto', sans-serif;
    padding: 0 auto;
    margin: 0 5% 0 5%;
    background-color:#415fe1 ;
    color: white;
}

img{
 width: 20%;
}

a:hover, a:active{

    color: black; 
}

a{
    color: white; text-decoration: none; 
}
